/**
 * @file
 * Presentational styles for Drupal stark theme layout.
 *
 * It is left empty for testing purposes.
 *
 * @see https://www.drupal.org/project/drupal/issues/2349711
 */

#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}

#content {
  width: 100%;
}
body.sidebar-first #content {
  width: 80%;
  left: 20%; /* LTR */
}
body.sidebar-second #content {
  width: 80%;
}
body.two-sidebars #content {
  width: 60%;
  left: 20%;
}

#sidebar-first {
  width: 20%;
  left: -80%; /* LTR */
}

body.two-sidebars #sidebar-first {
  left: -60%; /* LTR */
}

#sidebar-second {
  float: right; /* LTR */
  width: 20%;
}

.section {
  margin: 0px;
}


.section.main .logos {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}


body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


h2 {

    font-size: 70px; 
   } 
   
   
   
   .sub_title {
    font-size: 26px;
    margin-top: 25px;
}

a.button {
    margin-top: 50px;
}

.button {
    display: inline-block;
    padding: 10px 30px 8px;
    background: #FFD500 !important;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 16px;
    transition: .25s ease-in-out;
    border: 0;
    outline: none;
	padding-left: 200px;
}

@media (min-width: 1200px)
.button-desktop {
    display: inline-block;
	padding-left: 200px;
}


section.agenda .title {
    font-family: 'Vidaloka', serif;
    font-size: 79px;
}

ection.join .join-info .title {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

section.join .form .title {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    color: 
    white;
}

section.main .logos {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 992px)
.offset-lg-1 {
    margin-left: 8.333333%;
}



@media (min-width: 992px)
.col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}


section.main h1 {
font-size: 70px;
padding-left: 150px;
}



section.description .row .description-1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

section.description {
    padding-top: 60px;
}


*, ::after, ::before {
    box-sizing: border-box;
}

section.description .row .description-1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

@media (min-width: 577px)
section.description .row > div {
    padding-bottom: 84px;
}


section.description .row > div {
    color: #000;
    position: relative;
    padding-top: 40px;
}

@media (min-width: 992px)
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

*, ::after, ::before {
    box-sizing: border-box;
}


section.description .row .description-2 {
    font-size: 30px;
    line-height: 35px;
}


@media (min-width: 577px)
section.description .row > div {
    padding-bottom: 84px;
}


section.description .row > div {
    color: #000;
    position: relative;
    padding-top: 40px;
}


@media (min-width: 577px)
section.description .row > div::after {
    content: '';
    width: 101%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;
}
section.description .row .description-3 {
    font-size: 18px;
    line-height: 25px;
}


@media (min-width: 577px)
section.description .row > div {
    padding-bottom: 84px;
}


section.description .row > div {
    color: #000;
    position: relative;
    padding-top: 40px;
}



@media (min-width: 768px)
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}


@media (min-width: 577px)
section.join .description {
    padding: 0 0 0 32px;
}


section.join .description {
    font-size: 25px;
    border-left: 8px solid black;
    margin-top: 100px;
}


@media (min-width: 768px)
.offset-md-1 {
    margin-left: 8.333333%;
}


@media (min-width: 768px)
.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

*, ::after, ::before {
    box-sizing: border-box;
}


section .title {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

section.join #form-bg {
    position: absolute;
    width: 50%;
    height: 87%;
    background: url(/core/themes/stark/images/pattern.png);
    background-size: 25%;
    right: 0;
    top: 25%;
    border-top: 7px solid #FFD500;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}


* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.text {
    font-family: 'Vidaloka', serif;
    font-size: 47px;
	padding-left: 10px;
}


section.description {
    padding-top: 60px;
}


.title {
    color: white;
    font-size: 43px;
    font-weight: bold;
    line-height: 55px;
    margin-bottom: 30px;
	margin-left: 140px;

}


* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}


*, ::after, ::before {
    box-sizing: border-box;
}


*, ::after, ::before {
    box-sizing: border-box;
}


footer .container .title {
    color: white;
    font-size: 43px;
    font-weight: bold;
    line-height: 55px;
    margin-bottom: 30px;
}



* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}


*, ::after, ::before {
    box-sizing: border-box;
}



* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

.email {
    border-bottom: 3px solid #FFD500;
    padding-bottom: 5px;
    transition: .2s;
}


*, ::after, ::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}



section.description .row .description-1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

.description_1 {
	font-size: 47px;
	font-family: 'Vidaloka', sans-serif;
	
}

.description_2 {
	font-size: 32px;
}

.description_4 {
font-size: 32px;
padding-left: 106px;
}


.footer_1 {
background-image: url(map.png);
}


.sub_title {
	padding-left: 150px;

}


section.join .description {
    font-size: 25px;
    border-left: 8px solid black;
    margin-top: 100px;
}


.col {

   padding-left: 170px; 
    font-family: Helvetica, Arial, sans-serif;
}

.sub {
    padding-left: 170px; 

}

section.main .logos {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 992px)
.offset-lg-1 {
    margin-left: 8.333333%;
}

.round {
 display: flex;
    justify-content: center;
    align-items: center;
    background: #FFD500;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-left: 35px;
	margin-top: -120px;
}



.round_1 {
 display: flex;
    justify-content: center;
    align-items: center;
    background: #FFD500 no-repeat;
    border-radius: 100%;
    height: 800px;
    width: 800px;
    text-align: center;
    margin-left: 760px;
	margin-top: -730px;
position:relative;
 background-size:cover;
 flex-wrap: wrap;
 
 }
.round_1::after {

  content: "";
  position: absolute;
  left: 87%;
  bottom:-7px;
  background: #fff;
  width:calc(13%);
  height: 100%;
}

@media screen and (max-width: 360px) {
div.second {width: 350px;}
}





section.main .logos {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; }
    @media (max-width: 992px) {
      section.main .logos {
        margin-top: 60px; } }
    @media (min-width: 1500px) {
      section.main .logos {
        margin-top: -50px; } }
    section.main .logos-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px; }
      @media (max-width: 991px) {
        section.main .logos-row:nth-child(7) {
          justify-content: flex-start; }
          section.main .logos-row:nth-child(7) .logo {
            margin-right: 110px; } }
      @media (max-width: 768px) {
        section.main .logos-row:nth-child(7) .logo {
          margin-right: 90px; } }
      @media (max-width: 576px) {
        section.main .logos-row:nth-child(7) .logo {
          margin-right: 16%; } }
      @media (min-width: 992px) {
        section.main .logos-row {
          margin-bottom: 40px; }
          section.main .logos-row:nth-child(2) {
            padding-left: 40px; }
          section.main .logos-row:nth-child(5) {
            padding-left: 30px; }
          section.main .logos-row:nth-child(6) {
            padding-left: 80px; }
          section.main .logos-row:nth-child(7) {
            padding-left: 220px; }
            section.main .logos-row:nth-child(7) .logo {
              width: 30%; } }
      @media (min-width: 1200px) {
        section.main .logos-row {
          margin-bottom: 50px; }
          section.main .logos-row:nth-child(2) {
            padding-left: 40px; }
          section.main .logos-row:nth-child(5) {
            padding-left: 30px; }
          section.main .logos-row:nth-child(6) {
            padding-left: 80px; }
          section.main .logos-row:nth-child(7) {
            padding-left: 185px;
            padding-right: 72px; }
            section.main .logos-row:nth-child(7) .logo {
              width: 30%; } }
      @media (min-width: 1250px) {
        section.main .logos-row:nth-child(7) {
          margin-top: -10px; } }
      @media (min-width: 1300px) {
        section.main .logos-row:nth-child(7) {
          padding-left: 214px;
          padding-right: 83px; }
          section.main .logos-row:nth-child(7) .logo {
            width: 35%; } }
      @media (min-width: 1400px) {
        section.main .logos-row:nth-child(7) {
          padding-left: 245px;
          padding-right: 83px; }
          section.main .logos-row:nth-child(7) .logo {
            width: 35%; } }
      @media (min-width: 1500px) {
        section.main .logos-row {
          margin-bottom: 12px; }
          section.main .logos-row:nth-child(2) {
            padding-left: 80px !important; }
          section.main .logos-row:nth-child(3) {
            padding-left: 50px; }
          section.main .logos-row:nth-child(4) {
            padding-left: 70px; }
          section.main .logos-row:nth-child(5) {
            padding-left: 110px !important; }
            section.main .logos-row:nth-child(5) .logo:first-child {
              width: 17%; }
          section.main .logos-row:nth-child(6) {
            padding-left: 200px !important; }
            section.main .logos-row:nth-child(6) .logo {
              width: 20%; }
          section.main .logos-row:nth-child(7) {
            padding-left: 349px;
            padding-right: 83px; }
            section.main .logos-row:nth-child(7) .logo {
              width: 35%; } }
    section.main .logos .logo {
      width: 23%; }
      section.main .logos .logo img {
        width: 100%;
        transition: .2s; }
        section.main .logos .logo img:hover {
          filter: opacity(75%);
          cursor: pointer; }
	  
@media (min-width: 992px)
.offset-lg-1 {
    margin-left: 8.333333%;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}


.black_1 {
background: url(/core/themes/stark/images/pattern.png);

}


.one {
	  padding-left: 180px; 
	  font-size: 35px;
	  font-family: Helvetica, Arial, sans-serif;
	  font-weight: bold;
}
.button {
	padding-left: 30px;
	  
}
.two {
	padding-left: 150px;
	
}
ul.menu {
	display: flex;
    justify-content: flex-end;
    list-style: none;
}

ul.menu li {
	  list-style: none;
}
ul.menu a {
	color: #333;
}

.region-header h2{
	display: none;
}


.table_1 {
background-color: #FEF9EC;
}

.yellow_1 {
background-color: #FFD500;;	
}







footer {
    background: url(/core/themes/stark/images/pattern.png);
        background-size: auto;
    background-size: 25%;
}


footer .container {
    height: 700px;
    padding-bottom: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container {
    max-width: 1821px;
    padding-left: 50px;
    padding-right: 50px;
}


footer .container .map {
    position: absolute;
    top: 15%;
    width: 90%;
    height: 70%;
    background: url(/core/themes/stark/images/map.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
    background-size: contain;
    background-position: center;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}


.offset-md-1 {
    margin-left: 8.333333%;
}





footer .container .title {
    color: 
    white;
    font-size: 43px;
    font-weight: bold;
    line-height: 55px;
    margin-bottom: 30px;
	margin-left:0;
	font-family: 'Helvetica', sans-serif;
}

a:hover {
    text-decoration: underline;
}
a {
	text-decoration: none;
}




.earth {
background-image: url(/core/themes/stark/images/map.png);

margin: 0 auto;
background-size: contain;
background-position: center;
top: 15%;
width: 90%;
height: 70%;
}

.grey_1 {
   background: url(/core/themes/stark/images/pattern.png);
background-size: 25%;
}

grey_1 .second {
    height: 700px;
    padding-bottom: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}



footer .container .address {
    color: 
    white;
}

footer .container .email {
    border-bottom: 3px solid 
    #FFD500;
    padding-bottom: 5px;
    transition: .2s;
}


footer .container .email a {
    color: 
    white;
}













.1 {
	background-image: url(/core/themes/stark/images/15.png);
}

.whitetext {
color: white;
margin-left: 140px;
}


.summit {
	margin-left: 150px;
	font-size: 30px;
	font-family: 'Vidaloka', serif;
}


section.agenda .line {
    width: 180px;
    height: 8px;
    background: black;
    margin-bottom: 30px;
}



{
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.title {
    font-family: 'Vidaloka', serif;
    font-size: 79px;
}

.safety {
	margin-left: 160px;
	font-size: 25px;
}

.safety_1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	padding-left: 100px;
}


.alliance {
	margin-left: 160px;
	font-size: 25px;
	font-family: Helvetica, Arial, sans-serif;
}

.get  {
	margin-left: 160px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;	
}
.get li {
	padding-bottom: 15px;
	list-style: none;
	padding-left: 25px;
	position: relative;
	list-style: none;
}
.get li::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    left: 0;
    top: 5px;
}

section.join .join-info .text ul li::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: 
    black;
    border-radius: 50%;
    left: 0;
    top: 5px;
}

.text_2 {
	margin-bottom: 20px;

text-transform: uppercase;
	color: white;
	
	font-size: 1rem;

font-weight: 400;

line-height: 1.5;



}


.text_2 {
		color: white;
		
text-transform: uppercase;
	
}
.title_2 {
	font-size: 50px;
	color: white;
	font-weight: bold;
	line-height: 60px;
}


.title_3 {
	
	color: white;
	
}

.text_3 {
	
	color: white;
	font-weight: 400;
	
}

.text_4 span {
	
	color: white;
	
}


.text_5 {
	
	color: white;
	
}


.form {
	
	color: white;
	
}

.form_1 {
	 
	color: white;
	
}

section.join .form .title {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    color: white;
}


section.join #form-bg {
    position: absolute;
    width: 50%;
    height: 87%;
    background: url(../assets/images/pattern.png);
    background-size: 25%;
    right: 0;
    top: 25%;
    border-top: 7px solid #FFD500;
	 color: white;
}


* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

*, ::after, ::before {
    box-sizing: border-box;
}


section.join .form .input-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
	 color: white;
}


* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}


*, ::after, ::before {
    box-sizing: border-box;
}



.name-container input{
	background: black;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff; 
	box-shadow: none;
}	
.name_1 input {
	background: black;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff; 
	box-shadow: none;
}

.input_1 {
	    width: 390px;	
}

.input_2 {
	    width: 390px;	
}

.input_3 {
	    width: 390px;	
}

.words {
	padding-bottom: 140px;
	font-size: 50px;
}	
	.words_1 {
	padding-left: 0px;
	font-size: 30px;
	padding-bottom: 70px;
}
	.words_2 {
	padding-left: 100px;
	font-size: 18px;
}

	.words_3 {
	padding-bottom: 240px;
	font-size: 50px;
}

	.words_5 {
	padding-bottom: 140px;
	font-size: 50px;
}

	.words_7 {
	padding: 0px 0px 50px 0px;
	font-size: 50px;
}

	.words_9 {
	font-size: 50px;
}

.words_4 {
	padding-left: 0px;
	font-size: 30px;
	padding-bottom: 80px;
}

.words_6 {
	padding-left: 0px;
	font-size: 30px;
	padding-bottom: 20px;
}


.words_8 {
	padding-left: 0px;
	font-size: 30px;
	padding:20px 0px 20px 0px;
}

.words_10 {
	font-size: 30px;
}

.words_a {
	
	font-size: 50px;
}	
	.words_1_a {
	padding-left: 60px;
	font-size: 30px;
}
		.words_2_a {
	padding-left: 60px;
	font-size: 18px;
}



.col-md-3 description-2 round {
	background-color: yellow;

}



section.description .row .description-2.round div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFD500;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-left: -25px;
}


section.description .row .description-2 {
    font-size: 30px;
    line-height: 35px;
}


* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

.text_1 {
	margin-left: 150px;
	max-width: 1050px;
	
}

		
.image {
	padding-left: 30px;
	padding-top:30px;
	
}
.ul_li {
	padding-top: -40px;
	
	
}



section.agenda .line {
    width: 180px;
    height: 8px;
    background: black;
    margin-bottom: 30px;
}





.line-horiz {
    width: 80px;
    height: 7px;
    background: black;
    margin-bottom: 40px;
	margin-left: 160px;
}

.line-horiz_1 {
    width: 80px;
    height: 7px;
    background: black;
    margin-bottom: 40px;
	margin-left: 0px;
}

.line-horiz_2 {
    width: 200px;
    height: 10px;
    background: black;
    margin-bottom: 40px;
	margin-left: 0px;
}


.line-vertical {
	    width: 80px;
    height: 7px;
    background: black;
    margin-bottom: 40px;
	margin-left: 160px;
	transform: rotate(90deg);
}

.line-vertical_2 {
	width: 260px;
    height: 7px;
    background: black;
    margin-bottom: 940px;
	margin-left: 160px;
	transform: rotate(90deg);
}

section.summit .text-summit {
    border-left: 8px solid black;
    margin-top: 80px;
    font-size: 10px;
    line-height: 28px;
}

@media (min-width: 577px)
section.summit .text-summit {
    padding: 0 0 0 32px;
}


.photos {
	padding-left: 50px;
	
}
.colortext {
    background-color: #ffe; /* Цвет фона */
    color: #930; /* Цвет текста */
}
.contact_us {
	color: black;	
}


.membership {
	
	padding-left: 30px;
	
}



section.join .form .input-wrapper .name-wrapper .name-container input {
    width: 100%;
}



section.join .form .input-wrapper input:not([type="submit"]), section.join .form .input-wrapper select, section.join .form .input-wrapper textarea {
    color: 
white;
background:
transparent;
border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
border-bottom: 1px solid
    white;
    padding: 7px 5px;
    margin-bottom: 30px;
    outline: none;
    resize: none;
}


input {
    overflow: visible;
}
	
	 input {
    margin: 0;
        margin-bottom: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


section.join .form .input-wrapper input:not([type="submit"]):hover, section.join .form .input-wrapper select:hover, section.join .form .input-wrapper textarea:hover {
    border-bottom: 1px solid 
#806F00;
}


section.join .form .input-wrapper input:not([type="submit"]), section.join .form .input-wrapper select, section.join .form .input-wrapper textarea {
    color: 
white;
background:
    transparent;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    border-bottom: 1px solid white;
    padding: 7px 5px;
    margin-bottom: 30px;
    outline: none;
    resize: none;
}



}
	
	
	section.join .form .input-wrapper select {
    -webkit-appearance: none;
    border-radius: 0;
    width: 100%;
}



section.join .form .input-wrapper input:not([type="submit"]), section.join .form .input-wrapper select, section.join .form .input-wrapper textarea {
    color: 
white;
background:
transparent;
border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
border-bottom: 1px solid
    white;
    padding: 7px 5px;
    margin-bottom: 30px;
    outline: none;
    resize: none;
}



select {
    word-wrap: normal;
}


button, select {
    text-transform: none;
}


button, input, optgroup, select, textarea {
    margin: 0;
        margin-bottom: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}



section.join .form .input-wrapper textarea {
    margin-bottom: 10px;
	color: white;
background: transparent;
border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
border-bottom: 1px solid white;
padding: 7px 5px;
margin-bottom: 30px;
outline: none;
resize: none;
overflow: auto;
}


section.join .form .input-wrapper input:not([type="submit"]), section.join .form .input-wrapper select, section.join .form .input-wrapper textarea {
    color: 
white;
background:
transparent;
border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
border-bottom: 1px solid
    white;
    padding: 7px 5px;
    margin-bottom: 30px;
    outline: none;
    resize: none;
}

.input-wrapper input, select, textarea {
	background: transparent;
	height: 39px;
}

.black_1 .input-wrapper .input-wrapper select:focus, section.join .form .input-wrapper input:focus:hover {
	     border-bottom: 1px solid #FFD500;
		
 }
.black_1 .input-wrapper input:not([type="submit"]):focus, section.join .form .input-wrapper input:not([type="submit"]):focus:hover, section.join .form .input-wrapper select:focus, section.join .form .input-wrapper select:focus:hover, section.join .form .input-wrapper textarea:focus, section.join .form .input-wrapper textarea:focus:hover {
    border-bottom: 1px solid 
    #FFD500;
}


.col-12 {
	
	margin-left: 500px;
	
	
}
#country, #info {
	width: 390px;
	resize: none;
	color: #fff;
}
#agree {
	display: none;
}
.text_5 label {
	color: #fff;
}
.text_5 label::before {
	padding: 2px 5px 0px;
    background-color: #FFD500;
    border-color: #FFD500;
    color: #000;
	content: "+";
	font-weight: bold;
	display: inline;
	margin-right: .6em;
	padding: 1px 5px;
	line-height: 0;
}

#submit {
	width: 390px;
    padding: 20px 30px 30px;
}

.button:hover {
	cursor: pointer;
    border-radius: 35px;
    text-decoration: none;
    color: black;
}
